@model IEnumerable<WebApplicationlean.Models.inventorylistmodelwithjoin>

@{
    ViewBag.Title = "inventorypage";
}

<h2>inventorypage</h2>
@if (TempData["InfoMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>Error !</strong> @TempData["InfoMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span>&times;</span></button>
    </div>
}
else if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        <strong> @TempData["SuccessMessage"]</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span>&times;</span></button>
    </div>
}
else if (TempData["ErroMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>Error !</strong> @TempData["ErroMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span>&times;</span></button>
    </div>
}
<p>
    @Html.ActionLink("Create New", "testside", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Medecine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Customname)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.priceperunit)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Medecine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customname)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.priceperunit)
            </td>

            <td>
                @Html.ActionLink("Edit", "inventoryEdit", new { id = item.itemid }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete", "inventoryDelete", new { id = item.itemid }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
