@model IEnumerable<WebApplicationlean.Models.modelofmedecine>

@{
    ViewBag.Title = "Medecines";
    Layout = "~/Views/Shared/_new.cshtml";
}

<h2>Medecines</h2>

<p>
    @Html.ActionLink("Create New", "MedecineCreate",null,new {@class="btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nameofmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parmasisid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateandtime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.priceperunit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nameofmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parmasisid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateandtime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.priceperunit)
        </td>
        <td>
            @Html.ActionLink("Edit", "MedecineEdit", new { id=item.UID }, new { @class = "btn btn-primary" }) 
            @Html.ActionLink("Delete", "MedecineDelete", new { id=item.UID },new {@class = "btn btn-danger"  })
        </td>
    </tr>
}

</table>
